<p>Welcome

</p>
<p class="paragraph">
  <img class="img" src="assets/images/european_universities-initiative.jpg">
  The University  is one of the oldest and premier Universities of India. I am honoured and greatly privileged to lead this great Institution; and continue to address the imminent challenges and to harness theovert and covert opportunities, in order to satisfy our stake holders. A unique of its kind, currently the University has 56 Departments, 12 specialized Centres, 781 Affiliated Colleges, 2 main Campuses, 2 sub Campuses, 2 Model Colleges, and the ‘School of Engineering and Applied Sciences’ at Kalyan as the University’s own Engineering College. It has perhaps the largest geographical area under its jurisdiction from Thane district to Sindhudurg district, a spread of more than 600 km.

Teaching-Learning, Research, Consultancy, and Innovation are our strong arms to achieve the objectives, and we strive to nourish them to keep them contemporary and effective.  The University is committed to create and maintain world class facilities, and create knowledge in the frontier areas of human understanding; keeping in mind the societal needs. We provide diverse opportunities and appropriate guidance to the young students coming into our fold and transform them into self-reliant, responsible, and mature citizens.

With strongly belief in the saying, “Educationists should build the capacities of the spirit of inquiry, creativity, entrepreneurial and moral leadership among students and become role model”(Late former President of India, Dr. A.P.J. Abdul Kalam). I am confident that the University of Mumbai is marching in the right direction, shaping the human resources, and contributing to the nation building.
</p>
